<div class="container">

    <form id="threadFormId" enctype="multipart/form-data" action="/thread" method="post">
        <div class="d-flex flex-column justify-content-between">
            <div class="mb-3">
                <label for="threadTitle" class="form-label">Tytuł</label>
                <input value="pyk" required type="text" class="form-control" id="threadTitleId">
            </div>
            <div class="mb-3 flex-fill">
                <label for="inputContent" class="form-label">Treść</label>
                <textarea required id="threadDescriptionId" class="form-control"  cols="120" rows="20" maxlength="1000">123</textarea>
            </div>
            <button type="submit" class="btn btn-primary ms-auto">Dodaj Post</button>
        </div>
    </form>
</div>
<script>
    console.log("?")
    const threadForm = document.getElementById('threadFormId')
    const threadTitle = document.getElementById('threadTitleId')
    const threadDescription = document.getElementById('threadDescriptionId')


    threadForm.addEventListener('submit', (e)=>{

        console.log('im comin')
        let threadFormData = new FormData()

        threadFormData.append('title', threadTitle.value)
        threadFormData.append('description', threadDescription.value)
        
        fetch("thread", {
            method: 'post',
            body: threadFormData
        }).then(response => {
            return response.text()
        }).then(text => {
            console.log(text)
        }).catch(error => {
            console.error(error)
        })
    })

</script>