<div class="container">
    <div class="d-flex flex-column justify-content-between">
        <div class="mb-3">
            <label for="threadTitle" class="form-label">Tytuł</label>
            <input value="pyk" maxlength="30" required type="text" class="form-control" id="threadTitleId">
        </div>
        <div class="mb-3 flex-fill">
            <label for="inputContent" class="form-label">Treść</label>
            <textarea required id="threadDescriptionId" class="form-control" cols="120" rows="10"
                maxlength="1000">123</textarea>
        </div>
        <button id="threadSubmitBtnId" class="btn btn-primary ms-auto">Dodaj Post</button>
    </div>
</div>

    
    <script>
        const threadForm = document.getElementById('threadFormId')
        const threadTitle = document.getElementById('threadTitleId')
        const threadSubmitBtn = document.getElementById('threadSubmitBtnId')
        const threadDescription = document.getElementById('threadDescriptionId')
        threadSubmitBtn.addEventListener('click', (e) => {
            console.log('im comin')
            let threadFormData = new FormData()
            threadFormData.append('title', threadTitle.value)
            threadFormData.append('description', threadDescription.value)

            fetch("thread", {
                method: 'post',
                body: threadFormData
            })
                .then(response => {
                    return response.json()
                })
                .then(json => {
                    console.log(json)
                    // window.location.href = json.redirect
                })
                .catch(error => {
                    console.error(error)
                })
        })
    </script>