<div class="container-fluid">
    <div class="container d-flex justify-content-between">
        <div class="row ">
            <div class="col">
    
                <label for="">Tytuł</label>
            </div>
            <div class="col">
    
                <input class="mb-3" type="text" name="title" id="input_title">
            </div>
    
        </div>
        <div class="row">
            <div class="col">
                <label for="">Wątek</label>
            </div>
            <div class="col">
    
                <%- include('dropdown_thread_menu') %>
            </div>
        </div>
    </div>
    <div class="mb-3">
    
        <div class="container-fluid" style="width:100%;" id="createPostForm" contenteditable="true" name="content">
            <div><br></div>
            <div><br></div>
            <div><br></div>
            <div><br></div>
            <div><br></div>
        </div>
    </div>
    <button  class="btn btn-primary" id="entrySubmitBtnId">Dodaj Post</button>


</div>



