<style type="text/css" scoped>
    .modal_dropdown{
        z-index: 2000;
    }
    .list_element{
        cursor: pointer;
    }
</style>

<div class="dropdown" >
    <a class="btn btn-secondary dropdown-toggle" 
    href="#"  
    role="button" id="dropdownMenuLink" 
    data-bs-toggle="dropdown"
    aria-expanded="false">
        Wybierz Wątek
    </a>

    <ul class="dropdown-menu modal_dropdown" aria-labelledby="dropdownMenuLink" id="threads_menu">
    </ul>
</div>

<script>

    let display_selected_thread = document.querySelector('.dropdown-toggle')
    let threadsMenu = document.getElementById('threads_menu')
    let menu = []

    fetch_threads()
   

   

    
    function add_threads(threads){
        for(let i=0; i<threads.length; ++i){
            threadsMenu.innerHTML+= `<li class="list_element dropdown_item">${threads[i].title}</li>`
        }
        let menu = document.querySelectorAll('.list_element')
        menu.forEach(item => {
            item.addEventListener('click', (e) => {

                display_selected_thread.textContent = item.textContent
            })
        })
    }
    function fetch_threads(){
        fetch('thread',{
            method: "GET"
        })
        .then(response=>{
            return response.json()
        })
        .then(json=>{
            if (json.succes) {
                add_threads(json.data)
            } else {

            }
        })
        .catch(e=>{
            console.error(e)
        })
    }


</script>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj"
    crossorigin="anonymous"></script>

