<style type="text/css" scoped>
    .modal_dropdown{
        z-index: 2000;
    }
    .list_element{
        cursor: pointer;
    }
</style>

<div class="dropdown" >
    <a class="btn btn-secondary dropdown-toggle" 
    href="#"  
    role="button" id="dropdownMenuLink" 
    data-bs-toggle="dropdown"
    aria-expanded="false">
        Wybierz Wątek
    </a>

    <ul class="dropdown-menu modal_dropdown" aria-labelledby="dropdownMenuLink" id="threads_menu">
    </ul>
</div>



