

    <div class="container">
        <% if (messages.error) { %>
            <%= messages.error %>
        <% } %>
        
            <div class="mb-3">
                <label for="UserName" class="form-label">Nazwa Użytkownika</label>
                <input type="text" class="form-control" id="loginInputUserName" name="username">
    
            </div>
            <div class="mb-3">
                <label for="exampleInputPassword1" class="form-label">Hasło</label>
                <input type="password" class="form-control" id="loginInputPassword" name="password">
            </div>
            <div class="mb-3 form-check">
                <input type="checkbox" class="form-check-input" id="loginCheckboxRemember">
                <label class="form-check-label" for="loginCheckboxRemember">Pamiętaj mnie</label>
            </div>
            <button id="loginButtonSubmit" class="btn btn-primary">Zaloguj</button>
        </form>
    </div>

    <script>

        const loginBtnSubmit = document.getElementById('loginButtonSubmit')
        const loginInputUserName = document.getElementById('loginInputUserName')
        const loginInputPassword = document.getElementById('loginInputPassword')
        const loginCheckboxRemember = document.getElementById('loginCheckboxRemember')


        loginBtnSubmit.addEventListener('click', (e)=>{

            let loginFormData = new FormData()

            loginFormData.append('username', loginInputUserName.value)
            loginFormData.append('password', loginInputPassword.value)
            loginFormData.append('rememberMe', loginCheckboxRemember.checked)
            console.log(loginFormData.values)
            for (var value of loginFormData.values()) {
                console.log(value);
            }
            fetch('login',{
                method: 'POST',
                body: loginFormData
            })
            .then((res)=>{
                return res.json()
            }) 
            .then((data)=>{
                console.log(data)
            })
            .catch(e=>{
                console.log(e)
            })


        })


    </script>


