<body>
    <div class="container">
        <form method="POST" action="/Login">
            <div class="mb-3">
                <label for="UserName" class="form-label">Nazwa Użytkownika</label>
                <input type="text" class="form-control" id="inputUserName" name="username">
            
            </div>
            <div class="mb-3">
                <label for="exampleInputPassword1" class="form-label">Hasło</label>
                <input type="password" class="form-control" id="exampleInputPassword1" name="password">
            </div>
            <div class="mb-3 form-check">
                <input type="checkbox" class="form-check-input" id="exampleCheck1">
                <label class="form-check-label" for="exampleCheck1">Pamiętaj mnie</label>
            </div>
            <button type="submit" class="btn btn-primary">Zaloguj</button>
        </form>
    </div>
</body>
</html>