<div class="modal fade" id="modal_tabs_login"  aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-header d-flex justify-content-center">
                Zaloguj się                       
            </div>
            <div class="modal-body">
                <%- include('login') %>

            </div>
        </div>
    </div>
</div>