<div class="modal fade" id="modal_tabs_register" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-header d-flex justify-content-center">
                Zarejestruj się
            </div>
            <div class="modal-body">
                <%- include('register') %>
            </div>
        </div>
    </div>
</div>