<div class="modal fade" id="modal_create_post"  aria-labelledby="exampleModalLabel"aria-hidden="true">
    <div class="modal-dialog  modal-xxl modal-xl modal-lg modal-md modal-dialog-centered modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-header d-flex justify-content-center">
                Dodaj Post
            </div>
            <div class="modal-body">
                <%- include('create_post') %>
            </div>
        </div>
    </div>
</div>

