<div class="modal-wrapper">

    <div class="modal fade" id="modal_create_post_thread" tabindex="-1" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
            <div class="modal-content">
                <div class="modal-header d-flex justify-content-center">
                    <ul class="nav nav-tabs">
                        <ul class="nav nav-tabs" id="myTab" role="tablist">
                            <li class="nav-item" role="presentation">
                                <button class="nav-link active" id="Post-tab" data-bs-toggle="tab" data-bs-target="#Post"
                                    type="button" role="tab" aria-controls="Post" aria-selected="true">Dodaj Post</button>
                            </li>
                            <li class="nav-item" role="presentation">
                                <button class="nav-link" id="thread-tab" data-bs-toggle="tab" data-bs-target="#thread"
                                    type="button" role="tab" aria-controls="thread" aria-selected="false">Utwórz
                                    Wątek</button>
                            </li>
                        </ul>
    
    
                    </ul>
                </div>
                <div class="modal-body">
    
                    <div class="tab-content" id="myTabContent">
                        <div class="tab-pane fade show active" id="Post" role="tabpanel" aria-labelledby="Post-tab">
                            <%- include('create_post') %>
                        </div>
                        <div class="tab-pane fade" id="thread" role="tabpanel" aria-labelledby="thread-tab">
                            <%- include('create_thread') %>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>