<style type="text/css" scoped>
    .position-sticky-nav{
        position: -webkit-sticky;
	    position: sticky;
	    top: 0;
        z-index: 1049;
    }
    .hide-margin-sm{
        margin: 5%;
    }
    .cursor-pointer{
        cursor: pointer;
    }
    .nav-btn{
        color : aliceblue;
        text-decoration: none;
    }
    @media (max-width: 768px) {
        .hide-margin-sm{
            margin: 1%;
        }
        .navbar-brand{
            display: none;
        }

}

</style>

<nav class="navbar navbar-expand-md bg-dark navbar-dark position-sticky-nav "
 style="height: 10vh; width: 100vm;">
    <div class="d-flex justify-content-between hide-margin-sm" style="width: 100%;">
        <a href="/" class="navbar-brand">Forum</a>

    
        <button class="navbar-toggler" 
            type="button" 
            data-bs-toggle="offcanvas" 
            data-bs-target="#offcanvasRight" 
            aria-controls="offcanvasRight"><span class="navbar-toggler-icon"></span>
        </button>
    
        
        <% if(data.mainUser == null){ %> 
           
            <div class="row">
                <div class="col d-flex align-items-center">
                    <div class="nav-btn bg-dark cursor-pointer" data-bs-toggle="modal" data-bs-target="#modal_tabs_login_register">
                        Zaloguj
                    </div>
                </div>
                
                <div class="col d-flex align-items-center">
                    <div class="nav-btn bg-dark cursor-pointer" data-bs-toggle="modal" data-bs-target="#modal_tabs_login_register">
                        Rejestracja
                    </div>
                </div>
            </div>
              
            
        <% }else{ %>
          
            <div class="row">
                <div class="col d-flex align-items-center">
                    <a href="/profil/<%= data.mainUser.name %> " class="nav-btn">Profil</a>
                </div>
                <div class="col d-flex align-items-center">
                    <a href="/logout" class="nav-btn">Wyloguj</a>
                </div>
            </div>
                     
        <% } %> 
            
       
    </div>
    
</nav>

<%- include('modal_tabs_login_register', {data:data})  %> 

<div class="offcanvas offcanvas-end bg-dark" tabindex="-1" id="offcanvasRight" aria-labelledby="offcanvasRightLabel">
    <div class="offcanvas-header">
        <h5 id="offcanvasRightLabel">Offcanvas right</h5>
        <button type="button" class="btn-close text-reset bg-light" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body">
        <%- include('sidebar')  %> 
    </div>
</div>      

