<!-- <div class="card container-fluid">
    <div class="card-body">
        <div class="row d-flex">
            <div class="col">
                Wojtek Gos
            </div>
            <div class="col">
                r/motoryzacja
            </div>
            <div class="col">data: 25/08/2021</div>   
        </div>
        <div class="row my-4">
            <h4 class="card-title mb-3">Opel Astra klasa g</h4>
            <p class="card-text"> 
            <div>POST 1</div>
            <div><img src="http://localhost:5000/image/166lxs62ckz8sqcqg/166lxs62ckz8sqdwj.png" alt=""
                    style="color: var(--bs-body-color); font-family: var(--bs-body-font-family); font-size: var(--bs-body-font-size); font-weight: var(--bs-body-font-weight); text-align: var(--bs-body-text-align);"
                    class="img-fluid"></div>
            </p>    
        </div>
        <div class="row">
            <p class="card-text">komentarze</p>
        </div>
    </div>
    
</div> -->

<script>
    
    
    const post_container = document.querySelector('.post-container')

    let index= 0
    let filter_thread = null
    let currentDate = Date.now()



    document.addEventListener('scroll', e=>{
        
        if ((window.innerHeight + window.scrollY) >= document.body.scrollHeight) {

            for(let i=index; i<2; ++i){
                fetchAndAddEntry(currentDate, i, 'none')
            }
            index += 5
        }

    })

    function addEntry(data) {
        let user_name = data.user_name
        let thread = data.thread
        let date = data.date
        let title = data.title
        let content = data.content
            let entry =
                `<div class="card container-fluid">
                <div class="card-body">
                    <div class="row d-flex">
                        <div class="col">
                            ${user_name}
                        </div>
                        <div class="col">
                            ${thread}
                        </div>
                        <div class="col">
                            ${date}
                        </div>
                    </div>
                    <div class="row my-4">
                        <h4 class="card-title mb-3">
                            ${title}
                        </h4>
                        <p class="card-text">
                            ${content}   
                        </p>
                    </div>
                    <div class="row">
                        <p class="card-text">komentarze</p>
                    </div>
                </div>

            </div>`
        post_container.innerHTML += entry
    }

    

 

    function fetchAndAddEntry(date, index, thread) {
        let link = `entry/${date}/${index}/${thread}`
        fetch(link, {
            method: "GET"
        })
        .then(response => {
            return response.json()
        })
        .then(data => {
            console.log(data)
            if(data.succes== false)
                console.log(data.info)
            else
                addEntry(data)
        })
        .catch(e => {
            console.error(e)

        })
    }

    fetchAndAddEntry(new Date(), 0, 'none')
    fetchAndAddEntry(new Date(), 1, 'none')

</script>