<div class="card container-fluid">
    <div class="card-body">
        <div class="row d-flex">
            <div class="col">
                Wojtek Gos
            </div>
            <div class="col">
                r/motoryzacja
            </div>
            <div class="col">data: 25/08/2021</div>   
        </div>
        <div class="row my-4">
            <h4 class="card-title mb-3">Opel Astra klasa g</h4>
            <p class="card-text">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Nobis itaque magni sequi? Officia modi suscipit recusandae ipsum beatae itaque tempora libero incidunt odit natus. Debitis non iure saepe illum placeat!
                Soluta aperiam ex ratione laborum, quam odio. Error eligendi exercitationem vero voluptates voluptatibus possimus reiciendis perspiciatis iste nobis, amet illo rerum voluptas cumque repellat. Nostrum accusantium quia numquam ut nisi.
                Accusamus, facilis quae expedita ducimus cum, harum dolorem at odit laudantium, excepturi tenetur maiores fugit laborum corporis voluptatibus adipisci necessitatibus nesciunt vel ipsam nisi dicta commodi. Cupiditate nulla delectus porro.
                Accusantium ducimus qui enim, facilis quae exercitationem, nemo laboriosam ullam aspernatur, suscipit cumque numquam error aperiam eius eaque possimus repellendus doloremque inventore! Molestiae, dignissimos! Doloribus magni optio omnis dolor ipsam!
                Expedita, soluta dignissimos aperiam maiores harum accusamus, possimus delectus commodi accusantium quaerat quam obcaecati quidem! Veritatis nisi deleniti facere cum, corporis, a eveniet eligendi accusamus quos dolorem modi eius voluptatem?
                Placeat, debitis explicabo? Numquam aliquam dignissimos, fugit id tempore enim quia magnam? Nisi minus cumque aspernatur error, rerum beatae quo perspiciatis assumenda! Corrupti asperiores, ab ea molestiae sed omnis inventore.
                Iure nisi numquam, ratione rem alias temporibus quisquam, doloribus nulla autem ipsa eum quo. Quibusdam eum laborum quaerat architecto ratione numquam neque nostrum, doloribus dolore, voluptatum maxime voluptates nemo vero!
                A, vel deleniti cumque aspernatur voluptates sit delectus amet ad, totam tempora atque similique excepturi repudiandae. Unde quidem quis ipsam repellat rem fugit nihil praesentium doloremque, voluptatem vel porro molestiae.
                Numquam culpa beatae voluptate quam atque perferendis modi illo alias. Illum tenetur saepe quis maiores dicta consequuntur similique possimus voluptatum ipsa, consectetur ratione incidunt odit. Qui dolor officiis et laboriosam.
                Id iste culpa magni, labore repellat autem impedit possimus voluptatem fugiat explicabo cum quaerat obcaecati blanditiis deleniti nam ipsum consequatur excepturi aut aliquam sapiente tempora quos. Assumenda ad quidem corporis.
            </p>    
        </div>
        <div class="row">
            <p class="card-text">komentarze</p>
        </div>
    </div>
    
</div>

        
   