<style type="text/css" scoped>
    .entry_finish_container{
        width: 100%;
        height: 10vh;
        display: flex;
        justify-content: center;
    }
</style>




<button id="btnTmp">
asdasd
</button type="submit">

<div class="card container-fluid">
    <div class="card-body">
        <div class="row d-flex">
            <div class="col">
               user
            </div>
            <div class="col">
                wątek
            </div>
            <div class="col">
                data
            </div>
        </div>
        <div class="row my-4">
            <h4 class="card-title mb-3">
                tytul
            </h4>
            <p class="card-text">
                kontent
            </p>
        </div>
        <div class="row">
            komentarze

        </div>

    </div>

