<div class="card container-fluid">
    <div class="card-body">
        <div class="row d-flex">
            <div class="col">
                Wojtek Gos
            </div>
            <div class="col">
                r/motoryzacja
            </div>
            <div class="col">data: 25/08/2021</div>   
        </div>
        <div class="row my-4">
            <h4 class="card-title mb-3">Opel Astra klasa g</h4>
            <p class="card-text">
            <div>POST 1</div>
            <div><img src="http://localhost:5000/image/166lxs62ckz8sqcqg/166lxs62ckz8sqdwj.png" alt=""
                    style="color: var(--bs-body-color); font-family: var(--bs-body-font-family); font-size: var(--bs-body-font-size); font-weight: var(--bs-body-font-weight); text-align: var(--bs-body-text-align);"
                    class="img-fluid"></div>
            </p>    
        </div>
        <div class="row">
            <p class="card-text">komentarze</p>
        </div>
    </div>
    
</div>

        
   