
<div class="container">

    <form method="POST" action="/Register">

        <div id="avatarWrapper">
            
        </div>

        <input type="text" value="seed" class="form-control mb-3" id="newSeedInput" name="avatar">
        <button type="button" class="btn btn-primary" id="newSeedButton">Nowy</button>



        <div class="mb-3">
            <label for="InputLoginRegister" class="form-label">Nazwa Użytkownika</label>
            <input required type="text" name="username" class="form-control" id="InputLoginRegister">
        </div>
        <div class="mb-3">
            <label for="InputPasswordRegister" class="form-label">Hasło</label>
            <input required type="password" name="password" class="form-control" id="InputPasswordRegister">
        </div>
        <div class="mb-3">
            <label for="InputPasswordRegister" class="form-label">Powtórz Hasło</label>
            <input required type="password" class="form-control" id="InputPasswordRepeatRegister">
            <div class="invalid-feedback">Hasła nie są takie same</div>
        </div>

        <button type="submit" class="btn btn-primary">Zarejestruj</button>
    </form>

</div>
