<li class="list-group bg-dark text-light">
    <ul>Motoryzacja</ul>
    <ul>Motoryzacja</ul>
    <ul>Motoryzacja</ul>
    <ul>Motoryzacja</ul>
    <ul>Motoryzacja</ul>
    <ul>Motoryzacja</ul>
    <ul>Motoryzacja</ul>
    <ul>Motoryzacja</ul>
</li>