<div class="container bg-dark">
    <button class="btn btn-primary">Dodaj Post</button>

    <li class="list-group text-light">
        <ul>Motoryzacja</ul>
        <ul>Motoryzacja</ul>
        <ul>Motoryzacja</ul>
        <ul>Motoryzacja</ul>
        <ul>Motoryzacja</ul>
        <ul>Motoryzacja</ul>
        <ul>Motoryzacja</ul>
        <ul>Motoryzacja</ul>
    </li>
</div>