<aside class="container bg-dark" 
id="sidebar">
    <div class="row mb-4">
        <button class="btn btn-primary">Dodaj Post</button>
    </div>
    <div class="row mb-4">
        <button class="btn btn-primary">Utwórz Wątek</button>
    </div>

    <div class="row g-5">
        <h5 class="text-light">Wątki które lubisz</h5>
        <li class="list-group text-light">
            <ul>Motoryzacja</ul>
            <ul>Motoryzacja</ul>
            <ul>Motoryzacja</ul>
            <ul>Motoryzacja</ul>
            <ul>Motoryzacja</ul>
            <ul>Motoryzacja</ul>
            <ul>Motoryzacja</ul>
            <ul>Motoryzacja</ul>
        </li>
    </div>
</aside>