<aside class="container bg-dark position-sticky " style="height:90vh;" id="sidebar">
    <div class="d-flex flex-column justify-content-between" style="height:100%;" >
        <div>
            <div class="row mt-3">
                <button class="btn btn-primary" id="create_post" data-bs-toggle="modal" data-bs-target="#modal_create_post_thread">
                    Dodaj Post
                </button>
            </div>
            <div class="row">
                <button class="btn btn-primary" id="create_thread" data-bs-toggle="modal"
                    data-bs-target="#modal_create_post_thread">
                    Utwórz Wątek
                </button>
            </div>
        </div>
        
        <div class="align-bottom row g-5">
            <h5 class="text-light">Wątki które lubisz</h5>
            <li class="list-group text-light">
                <ul>Motoryzacja</ul>
                <ul>Motoryzacja</ul>
                <ul>Motoryzacja</ul>
                <ul>Motoryzacja</ul>
                <ul>Motoryzacja</ul>
                <ul>Motoryzacja</ul>
                <ul>Motoryzacja</ul>
                <ul>Motoryzacja</ul>
            </li>
        </div>
    </div>
</aside>
