
<div class="wrapper" style="height: 100%;">
    <aside class="container bg-dark" 
        id="sidebar">
        <div class="row mb-2">
            <button class="btn btn-primary" id="create_post" data-bs-toggle="modal" data-bs-target="#modal_create_post_thread">
                Dodaj Post
            </button>
        </div>
        <div class="row mb-2">
            <button class="btn btn-primary" id="create_thread" data-bs-toggle="modal"
                data-bs-target="#modal_create_post_thread">
                Utwórz Wątek
            </button>
        </div>
        
        <div class="row g-5">
            <h5 class="text-light">Wątki które lubisz</h5>
            <li class="list-group text-light">
                <ul>Motoryzacja</ul>
                <ul>Motoryzacja</ul>
                <ul>Motoryzacja</ul>
                <ul>Motoryzacja</ul>
                <ul>Motoryzacja</ul>
                <ul>Motoryzacja</ul>
                <ul>Motoryzacja</ul>
                <ul>Motoryzacja</ul>
            </li>
        </div>
    </aside>
  
</div>